<div class="container">
  <div class='row'>
  <h2>{{name}}</h2>
  <div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>Browse articles...</h4>
				<p>Here's a list of all articles on the knowledge base</p>
			</div>
    </div>
  <div class='row'>
    <div class='search' style='padding-bottom:15px'>
      <div class="form-search search-only">
        <i class="search-icon glyphicon glyphicon-search"></i>
        <input id='searchfield' type="text" class="form-control search-query">
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="list-group" id='article_list'>
      {{#each article}}
        <a href="/browse/{{this.id}}" class="list-group-item">
        <h4 class="list-group-item-heading">{{this.title}}</h4>
        <p class="list-group-item-text">By {{this.author}}</p>
        </a>
      {{else}}
      <a href="/browse/{{this.id}}" class="list-group-item">
      <h4 class="list-group-item-heading">The knowledge base is empty :(</h4>
      <p class="list-group-item-text"></p>
      </a>
      {{/each}}
    </div>
  </div>
</div>
<script src='js/browse.js'></script>
